table {
  background-color: darkgreen;
  margin: 0 auto;
}

td {
  width: 20px;
  height: 20px;
  background-color: rgb(2, 167, 2);
}

footer {
  width: 100%;
  text-align: center;
}

button {
  margin: 20px auto;
}

.snake {
  background-color: yellow;
}

.apple {
  background-color: red;
}
